
.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  position: relative;
  margin-right: auto;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.searchInput {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 15vw;
  height: 6vh;
}

.buttons {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.filterButton {
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  font-weight: normal;
  transition: color 0.3s;
}

.filterButton.active {
  color: #333;
  font-weight: bold;
}

.filterButton.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #6a0dad; /* Purple underline */
  border-radius: 2px;
}

.filterButton:hover {
  color: #333;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.recipesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

/* Recipe popup styling */
.recipePopup {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1000;
  overflow: hidden;
  padding: 20px;
}

.recipeCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.recipeCard img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.recipeCard h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.recipeCard p {
  font-size: 12px;
  color: #666;
  margin: 10px;
}

.recipePopup button {
  background-color: #6a0dad;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.recipePopup button:hover {
  background-color: #590da1;
}

.addRecipeButton{
  background-color: #6a0dad;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}