/* At the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.recipesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* Adjust 200px based on preferred card size */
    gap: 16px; /* Space between grid items */
    padding: 16px; /* Padding around the grid container */
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    max-width: 1200px;

}

/* General container for the entire page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  
  .searchInput:focus {
    border-color: #FFB22C; /* Focused border color */
    outline: none;
    box-shadow: 0 0 5px #FFB22C; /* Soft glow effect */
  }
  
  .title {
    align-self: flex-start; /* Aligns the title to the left */
    font-size: 2rem; /* Adjust the title size */
    margin-bottom: 20px; /* Adds space below the title */
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
  }
  
  .topSection {
    display: flex;
    width: 100%;
  }
  
  .searchInput {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px; /* Adjust width of the search bar */
    margin-left: 20px; /* Space between categories and search bar */
  }
  

  
 
