 .recipeDetails {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px; 
    margin: 10px;
    width: 60%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.recipeProfile{
    display:flex;
    flex-direction: row;
}

.recipeTitle{
    display: flex;
    flex-direction: column;
    margin:16px;

}
.recipeImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin:16px;

}

.recipeInfo {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.recipeName {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.ingredients,
.preparationTime {
    margin: 4px 0;
}
.instructions{
    margin: 16px;
    font-size: 1.2em;
}