.categoriesContainer {
    margin-bottom: 1.5rem;
}

.select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s;
    background-color: #fff;
}



.option {
    font-size: 1rem;
}

.categories {
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  padding: 0.4rem;
}
