
.recipePopup {
  position: fixed;
  /* Makes it stay in place while scrolling */
  top: 5vh;
  /* Adjusts distance from the top */
  right: 5vw;
  /* Adjusts distance from the right */
  width: 23vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: 1000;
  /* Ensures it stays on top of other content */
  height: 90vh;
}

.recipeImage {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #ddd;
}

.recipeContent {
  padding: 15px;
  background-color: #fff;
}

.recipeName {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.recipeCategory {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.recipeDescription {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
  margin-bottom: 15px;
}

.readMoreButton {
  background-color: #6a0dad;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.readMoreButton:hover {
  background-color: #590da1;
}

/* Favorite button styling */
.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #f4c542;
  /* Yellow color for star */
  font-size: 16px;
}

/* Icon styling */
.yellowIcon {
  color: #f4c542;
  font-size: 18px;
}


.footerButtons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: auto;
  padding: 1rem;
}